  <table width="70%" class="Drblue">
  <tr>
    <td>Hair Cutting</td>
    <td>Mr.Agent</td>
    <td>12 mon 2012</td>	
    <td>Booked</td>
  </tr>
   </table>
<div class="GrTitleBg">Select a service</div>
<div class="span12">
<div class="span4">
<!-- <p>Date: <input type="text" id="datepicker" /></p> -->
<div id="datepicker" style="border-right:1px solid #CCC; margin-right:12px;"></div>
</div>
<div class="span8" >

<table cellpadding="5" width="100%">
												<tbody>
                                                <tr><td colspan="6" align="center" class="CretNewBg"><strong>Engaged times (MST) for Wed Jul 12 10:00 :45 UTC 2013</strong></td></tr>
													<tr class="GrTitleBg">
														<td align="center">&nbsp;</td>
                                                        <td align="center" class="Drblue"><strong>Morning </strong></td>
                                                        <td>&nbsp;</td>
                                                        <td  align="center" class="Drblue"><strong>Noon</strong></td>
                                                        <td>&nbsp;</td>
                                                        <td align="center" class="Drblue"><strong>Evening</strong></td>
													</tr>
													<tr>
													  <td>&nbsp;</td>
													  <td><a href="#">08:00 AM to 09:00 AM</a></td>
													  <td>&nbsp;</td>
													  <td><a href="#">01:00 PM to 02:00 PM</a></td>
													  <td>&nbsp;</td>
													  <td><a href="#">10:00 AM to 11:00 AM</a></td>
												  </tr>
													<tr class="CretNewBg">
													  <td>&nbsp;</td>
													  <td><a href="#">10:00 AM to 11:00 AM</a></td>
													  <td>&nbsp;</td>
													  <td><a href="#">02:00 PM to 03:00 PM</a></td>
													  <td>&nbsp;</td>
													  <td><a href="#">02:00 PM to 03:00 PM</a></td>
												  </tr>
													<tr>
													  <td>&nbsp;</td>
													  <td><a href="#">11:00 PM to 02:00 PM</a></td>
													  <td>&nbsp;</td>
													  <td><a href="#">03:00 PM to 04:00 PM</a></td>
													  <td>&nbsp;</td>
													  <td><a href="#">06:00 PM to 07:00 PM</a></td>
												  </tr>
													<tr class="CretNewBg">
													  <td>&nbsp;</td>
													  <td><a href="#">07:00 AM to 08:00 PM</a></td>
													  <td>&nbsp;</td>
													  <td><a href="#">04:00 PM to 05:00 PM</a></td>
													  <td>&nbsp;</td>
													  <td><a href="#">08:00 PM to 09:00 PM</a></td>
												  </tr>
													<tr>
													  <td>&nbsp;</td>
																  <td colspan="5" align="center"><strong><a href="#" data-bind="click:apptViewModel.bookAppt.bind($data)" >Select your preferred time</a></strong></td>
												  </tr>
													
												</tbody>
											</table>
</div>


</div>