<table width="70%" class="Drblue">
  <tr>
    <td>Hair Cutting</td>
    <td>Mr.Agent</td>
    <td>12 mon 2012</td>
    <td>Booked</td>
  </tr>
   </table>
<div class="GrTitleBg">Select a service</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>Calendar</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="Drblue">
  <tr>
    <td>Select your preferred time</td>
    <td align="right"><strong>Engaged times (MST) for Wed Jul 12 10:00 :45 UTC 2013</strong></td>
  </tr>
</table>
