 <table width="70%" class="Drblue">
  <tr>
    <td>Hair Cutting</td>
    <td>Mr.Agent</td>
    <td>12 mon 2012</td>
    <td>Booked</td>
  </tr>
   </table>
<div class="GrTitleBg" >Select a service</div>

                  <table class="table">
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Duration</th>
                  <th>Price</th>
                </tr>
              </thead>
               <tbody data-bind="foreach:apptservices">
                <tr>
                  <td class="BlowIcon" > <a href="<%=request.getContextPath()%>/rest/appointment/serviceAgents/"><span data-bind="text:serviceName"></span></a>  </td>
                  <td class="TimeIcon"  data-bind="text:serviceDuration"></td>
                  <td>$25</td>
                </tr>
            
               <tbody data-bind="foreach:apptservices[0].serviceTaskList">
                 <tr>
                  <td class="CutIcon" data-bind="text:skillName"></td>
                  <td class="TimeIcon" data-bind="text:skillName"></td>
                  <td>$25</td>
                </tr>
                </tbody>
                <!--</div> -->
               <!--   <tr>
                  <td class="WashIcon">Wash</td>
                  <td class="TimeIcon">30 Min</td>
                  <td>$25</td>
                </tr>
                 <tr>
                  <td class="BlowIcon">Blow Dry</td>
                  <td class="TimeIcon">30 Min</td>
                  <td>$25</td>
                </tr> -->
              </tbody>
            </table>           
    
    </div>