<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>    <form class="form-horizontal">
    <div class="control-group">
    <label class="control-label" for="AppointName">Appointment Name</label>
    <div class="controls">
    <input type="text" data-bind="" id="AppointName">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="AppointTime">Appointment Time</label>
    <div class="controls">
    <input type="text" data-bind="" id="AppointTime">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="Notes">Notes</label>
    <div class="controls">
       <textarea rows="2" data-bind="" id="Notes"></textarea>
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="SourceChannel">Source Channel</label>
    <div class="controls">
    <input type="text" data-bind="" id="SourceChannel">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="SourceClient">Source Client Name</label>
    <div class="controls">
    <input type="text"  data-bind="" id="SourceClient">
    </div>
    </div>
    <div class="control-group">
    <div class="controls">
    <button type="submit" class="btn">Book Appointment</button><button type="submit" class="btn">Cancel</button>
    </div>
    </div>
    </form></td>
    
  </tr>
</table>
