 <table width="70%" class="Drblue">
  <tr>
    <td>Hair Cutting</td>
    <td>Mr.Agent</td>
    <td>12 mon 2012</td>
    <td>Booked</td>
  </tr>
   </table>
<div class="GrTitleBg">Select a service</div>

                  <table class="table">
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Duration</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody data-bind="foreach:apptagents">
                <tr>
                  <td class="UserIcon"><a href="#" data-bind="click:apptViewModel.loadSchedule.bind($data)"><span data-bind="text:agentName" ></span></a></td>
                  <td class="TimeIcon"></td>
                  <td>$25</td>
                </tr>
                 </tbody>
            </table>           
    
    