 <table width="70%" class="Drblue">
  <tr>
    <td>Hair Cutting</td>
    <td>Mr.Agent</td>
    <td>12 mon 2012</td>
    <td>Booked</td>
  </tr>
   </table>
<div class="GrTitleBg">Select a service</div>

                  <table class="table">
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Duration</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="BlowIcon">Blow Dry</td>
                  <td class="TimeIcon">30 Min</td>
                  <td>$25</td>
                </tr>
                 <tr>
                  <td class="CutIcon">Cut</td>
                  <td class="TimeIcon">30 Min</td>
                  <td>$25</td>
                </tr>
                 <tr>
                  <td class="WashIcon">Wash</td>
                  <td class="TimeIcon">30 Min</td>
                  <td>$25</td>
                </tr>
                 <tr>
                  <td class="BlowIcon">Blow Dry</td>
                  <td class="TimeIcon">30 Min</td>
                  <td>$25</td>
                </tr>
              </tbody>
            </table>           
    
    </div>