
<script type="text/html" id="skillsTmpl">
<div class="TagCont" data-bind="text: skillNm">
	<span>
		<img src="./resources/images/SkilAdBt.png" data-bind="click: function() { viewModel.skillItemClick($data); }">
	</span>
</div>
</script>